.env
assets/
.DS_Store
go.sum
.ropeproject
pyrightconfig.json
backups
scratch
agents/parsing_agent/assets/
.scripts
**/output/**
**/output/surahs/**
__pycache__/
**/__pycache__/
**.pyc
**/*.pyc
**/Qwen3**
todo.md
