@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-bg: hsl(40, 5%, 98%);
    --color-surface-light: hsl(40, 5%, 95%);
    --color-surface-medium: hsl(40, 5%, 80%);

    --color-text: hsl(40, 2%, 5%);
    --color-text-secondary: hsl(40, 6%, 10%);
    --color-text-muted: hsl(40, 6%, 50%);
    --color-text-on-primary: hsl(40, 5%, 98%);

    --color-border: hsl(40, 5%, 80%);

    --color-primary: hsl(20, 65%, 50%);
    --color-primary-hover: hsl(20, 65%, 40%);
    --color-primary-off: hsl(20, 65%, 80%);

    --radius-full: 9999px;
    --radius-lg: 16px;
    --radius-md: 12px;
    --radius-sm: 8px;

    --shadow-md: 0 4px 8px hsla(0, 0%, 0%, 0.16);
}

.dark {
    --color-bg: hsl(40, 4%, 8%);
    --color-surface-light: hsl(40, 6%, 10%);
    --color-surface-medium: hsl(40, 6%, 20%);

    --color-text: hsl(40, 5%, 98%);
    --color-text-secondary: hsl(40, 5%, 65%);
    --color-text-muted: hsl(40, 6%, 50%);
    --color-text-on-primary: hsl(40, 5%, 98%);

    --color-border: hsl(40, 6%, 20%);

    --color-primary: hsl(20, 65%, 50%);
    --color-primary-hover: hsl(20, 65%, 40%);
    --color-primary-off: hsl(20, 65%, 30%);

    --shadow-md: 0 4px 8px hsla(0, 0%, 0%, 0.75);
}

@theme inline {
    --color-bg: var(--color-bg);
    --color-surface-light: var(--color-surface-light);
    --color-surface-medium: var(--color-surface-medium);

    --color-text: var(--color-text);
    --color-text-secondary: var(--color-text-secondary);
    --color-text-muted: var(--color-text-muted);
    --color-text-on-primary: var(--color-text-on-primary);

    --color-border: var(--color-border);
    --color-divider: var(--color-divider);

    --color-primary: var(--color-primary);
    --color-primary-off: var(--color-primary-off);
    --color-primary-hover: var(--color-primary-hover);

    --radius-sm: var(--radius-sm);
    --radius-md: var(--radius-md);
    --radius-lg: var(--radius-lg);
    --radius-full: var(--radius-full);

    --shadow-md: var(--shadow-md);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

html,
body {
    height: 100%;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}
